@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  width: 100%;
  background-color: black;
  color: white;
  font-family: "Roboto", Verdana;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

aside,
main {
  border: solid 1px white;
  width: 100%;
  margin: 15px;
  padding: 10px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

aside {
  /*background-image: url(./background.gif);*/
  background-color: black;
}

#tracked-playlists {
  display: flex;
  flex-direction: column;
}

playlist-card {
  background-color: rgb(60, 60, 60);
  margin: 5px;
  padding: 5px;
  border: solid 1px white;
}

button {
  border: solid 2px white;
  border-radius: 10px;
  flex-grow: 1;
  padding: 4px;
  margin: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 1.5em;
  cursor: pointer;
  background-color: rgb(150, 150, 150);
}

.untrack {
  font-weight: 700;
  font-size: 1em;
}

button:hover {
  background-color: rgb(200, 200, 200);
}

input {
  border: solid 3px cyan;
  border-radius: 5px;
  font-weight: 900;
  font-size: 1.5em;
}

button:disabled {
  border: none;
  cursor: not-allowed;
  background-color: rgb(80, 80, 80);
  color: rgb(40, 40, 40);
}

#playlistArea {
  max-height: 25vh;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-y: scroll;
  border: solid 1px rgb(223, 212, 255);
  padding: 5px;
}

.redbox {
  border: solid 2px rgb(139, 0, 0);
  padding: 10px;
}

.flexRowContainer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.flexColContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#slot1,
#slot2 {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  border: solid 2px rgb(56, 139, 0);
  padding: 10px;
}

@media (max-width: 800px) {
  body {
    flex-direction: column;
  }
}
